.content-home{
    width: 98%;
    display: flex;
    flex-direction: column;
    margin:0 .5rem ;
    scroll-behavior: smooth;
    overflow: scroll;
}

.report {
    
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    margin:0 .5rem ;
    justify-content: space-between;
    overflow: scroll;
}
.catogry-list{
     height: 100px;
     width: 180px;
     background-color: rgb(255, 255, 255);
     margin-right: 1rem;
     margin-top: 1rem;
     border-radius: 12px;
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-direction: column;
     overflow: scroll;
}
.catogry-list p{
    color: blue;
    font-size: 18px;
    font-weight: 500;
    
}
.date{
    margin-top: 4rem;
    margin-right: 1rem;
    color: blue;
    font-size: 18px;
    font-weight: 500;
}
.dayley-report{
    margin-top: 1rem;
    overflow: scroll;
}

.form-to-input label {
    color: darkblue;
    font-size: 16px;
    width: 300px;
    font-family: var(--font-family2);
    margin-left: 1rem;

  }
  
  .form-to-input input {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-left: 1rem;
    border: none;
    outline: none;
    background-color: rgb(246, 246, 246);
  }